/*base.css*/

html,
body {
  height: 100%;
  background: #fff !important;
  padding: 15px;
  padding-top: 15px;
}
h4 {
  font-size: 1.5vw;
}
h6 {
  font-size: 1vw;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

/******************************* Sticky Footer Style *******************************/
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  /*height: 100px;*/
  background-color: #fff;
  background-size: contain;
}

#wrap > .container {
  padding: 60px 15px 0;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#intro {
  font-family: 'Open Sans', sans-serif;
}

/****************Styles for the Carousels*******************/

.myCarousel img {
  width: 100%;
  height: 100%;
  max-height: 200px;
}

.myCarousel {
 position: relative;
  float:left;
  width: 30%;
  height: 200px;
  max-height: 200px;
  border: 2px solid black;
  margin-left:1em;
  margin-right: 4em;
  margin-bottom: 1em;
}

.myCarousel iframe {
  width: 100%;
  height: 100%;
  max-height: 200px;
}

/****************END Styles for the Carousels*******************/

.btn-group-vertical{
  width: 100%;
  margin: 2em auto;
  font-size: 1vw;
}

.img_holder{
  position: relative;
  float: left;
  border: 2px solid black;
}

.holder{
  position: relative;
}

.holder button{
  position: absolute;
  bottom: 0px;
  padding: 2px;
}

#mainImage{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.img-circle{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#lava{
  max-width:35%;
  max-height:30%;
  min-width: 35px;
}

.colLinks{
  padding: 0;
}

.links{
  display: inline;
  width: 100%;
  margin: 2em auto;
}

#github{
  display: inline-block;
  margin: 0.1em;
  margin-top: 0.2em;
}

#githubImg{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    min-width: 20px;
}

#linkedin{
  display: inline-block;
  margin: 0.1em;
  margin-top: 0.2em;
}

#linkedinImg{
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

#lava{
  display: inline-block;
  margin: 0.1em;
  margin-top: 0.2em;
}

.carousel-caption {
  padding-bottom: 0px;
}
